@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto.woff2') format('woff2'),
      url('../fonts/robotobold.woff2') format('woff2'),
      url('../fonts/robotomedium.woff2') format('woff2');
}

html {
  background-color: #ffffff;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #f7f7f7;
  box-shadow: 5px 0 5px -5px rgba(0,0,0,0.5), -5px 0 5px -5px rgba(0,0,0,0.5);
  font-family: 'Roboto', 'Times', sans-serif;
  color: #444444;
}

.page-header__logo {
  max-width: 1200px;
  height: auto;
}

.page-header__text {
  margin: 20px;
}

.booking__heading {
  margin-left: 20px;
}

.days__list {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.days__item {
  display: inline-block;
  padding: 15px;
  min-width: 70px;
  margin-right: -1px;
  border: 1px solid grey;
  border-bottom: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.days__item:hover {
  background-color: #eee;
}

.days__item--highlighted, .days__item--highlighted:hover {
  background-color: #ddd;
}


.session {
  display: inline-block;
  margin-left: 15px;
  padding: 7px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}

.movie {
  background-color: #ddd;
  padding: 10px;
  border-bottom: 1px solid black;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background: rgba(0,0,0,0.5);
}

.modal-overlay--show {
  display: block;
}

.seats__close-btn {
  position: absolute;
  z-index: 12;
  top: 0;
  right: -35px;

  width: 30px;
  height: 30px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

.seats__close-btn::before, .seats__close-btn::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;

  width: 30px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.seats__close-btn::before {
  transform: rotate(45deg);
}


.seats__close-btn::after {
  transform: rotate(-45deg);
}

.seats {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 11;
  margin-left: -210px;
  margin-top: -210px;
  padding: 30px;
  background-color: #eeeeee;
}

.seats__list {
  margin: 0;
  padding: 0;
  width: 420px;
  list-style: none;
  overflow: hidden;
}

.seats__item {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid black;
  font-size: 14px;
  line-height: 35px;
  border-radius: 3px;
  cursor: pointer;
}

.seats__item--taken {
  background-color: yellow;
}

.seats--closed {
  display: none;
}
