body {
  margin: 0;
  padding: 0;
}

.seats-list {
  margin: 0;
  padding: 0;
  width: 420px;
  list-style: none;
}

.seats-list__seat {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  border: 1px solid black;
  font-size: 14px;
  line-height: 35px;
  border-radius: 3px;

  cursor: pointer;
}

.seats-list__seat--taken {
  background-color: yellow;
}

.seats-list__hidden {
  display: none;
}

.session__heading {
  margin: 10px;
  padding: 30px;
  background-color: #ccc;
  border-radius: 7px;
}
